In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("summer.csv")

In [21]:
df.head()

   Year    City     Sport  ... Gender                       Event   Medal
0  1896  Athens  Aquatics  ...    Men              100M Freestyle    Gold
1  1896  Athens  Aquatics  ...    Men              100M Freestyle  Silver
2  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Silver

[5 rows x 9 columns]

**1. In how many cities Summer Olympics is held so far?**

In [ ]:
df['City'].unique()

In [ ]:
len(df['City'].unique())

**2. Which sport is having most number of Gold Medals so far? (Top 5)**

**3. Which sport is having most number of medals so far? (Top 5)**

In [ ]:
data= []
for i in df['Sport'].unique():
  for medal in df['Medal'].unique():
    data.append([i, len(df[df['Medal'] == medal])])
data = pd.DataFrame(data, columns = ['Sport','Medal'])
data = data.sort_values(by = 'Medal',  ascending = False).head()
data.plot( x = 'Sport', y = 'Medal', kind = 'bar', figsize =(7,4))

In [24]:
data

            Sport  Medal
0        Aquatics  10486
45           Golf  10486
99       Handball  10486
30  Basque Pelota  10486
33        Cricket  10486

**4. Which player has won most number of medals? (Top 5)**

In [26]:
data = []
for i in df['Athlete'].unique():
  for medal in df['Medal'].unique():
    data.append([i, len(df[df['Medal'] == medal])])
data = pd.DataFrame(data, columns = ['Athlete','Medal'])
data = data.sort_values(by = 'Medal',  ascending = False).head()
#data.plot( x = 'Athlete', y = 'Medal', kind = 'bar', figsize =(7,4))

In [ ]:
data

**5. Which player has won most number Gold Medals of medals? (Top 5)**

**6. In which year India won first Gold Medal in Summer Olympics?**

**7. Which event is most popular in terms on number of players? (Top 5)**

In [ ]:
data = []
for event in df['Event'].unique():
  data.append([event, len(df[df['Event'] == event])])

data = pd.DataFrame(data, columns = ['Event','freq'])

data = data.sort_values(by = 'freq',  ascending = False).head()

data.plot( x = 'Event', y = 'freq', kind = 'bar', figsize =(7,4))

In [ ]:
data

**8. Which sport is having most female Gold Medalists? (Top 5)**

In [ ]:
df_groupby_Gender = df.groupby('Gender')
type(df_groupby_Gender)
df_groupby_Gender.size()